:root {
    --obs-background: #3a393a;
}

body {
    background-color: #3a393a;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea, select {
    background-color: rgb(31,30,31);
    color: #FFFFFF;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 95%;
    padding: 4px;
}

.input-group {
    width: 99%;
    margin: 10px;
}

button {
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: #545b62;
    border-color: #4e555b;
}

button.bigger {
    font-size: 1.25rem;
}

button:hover {
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
}

button:hover.danger {
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: #dc3545;
    border-color: #dc3545;
}

button:hover.primary {
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: #007bff;;
    border-color: #007bff;;
}

button:hover.success {
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: #28a745;;
    border-color: #28a745;;
}

button:hover.warning {
    margin: 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffc107;;
    border-color: #ffc107;;
}

textarea {
    margin-top: 4px;
}
